# Build output
.next/
out/
build/

# Dependencies
node_modules/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Framework
framework/

# OS-specific files
.DS_Store
*.log
